
article{
    margin: 200px;
    padding: 20px;
    background-color: antiquewhite;
    border: solid 1px black;
    border-radius: 4 4 4 4;
    max-width: 500px;
}
article:hover{
    scale: 1.2;
}
article p, h1{
    color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}
h1{
    font-size: 42px;
    color: rgb(59, 59, 59);
}